apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    name: kube-prometheus
spec:
  project: default
  source:
    repoURL: https://github.com/dylanjustice/the-grid
    targetRevision: HEAD
    path: gitops/workloads/kube-prometheus
    helm:
      releaseName: kube-prometheus
      skipCrds: false
  destination:
    name: in-cluster
    namespace: the-grid-kube-prometheus
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m